.currency-list {
    margin: 20px;
    width: 60%;
    @media screen and (max-width: 980px) {
        & {
            width: 90%
        }
    }
    @media screen and (max-width: 500px) {
        & {
            width: 100%
        }
    }
}


.list-row {
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    word-break: break-word;
   li {
       border-bottom: 1px solid rgb(202, 202, 245);
       padding: 10px;
       width: 100%;
       text-align: center;
   }
}

.list-header-top {
    font-weight: bold;
    color: #ffd700
}

.list-header-top-light {
    font-weight: bold;
    color: #687ab9
}

.title {
    margin: 0 10px;
}